target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VSCode
.vscode/

# Mac
.DS_Store



